

/backend/node_modules
/frontend/node_modules

/backend.env
/frontend.env

/generated/prisma

/backend/.env
/backend/.agents
/backend/.claude
/backend/.windsurf
/backend/dist

/backend/src/genereted

# 